{% extends "./layout.html" %}
{% block body %}
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Date <i class="fa-solid fa-sort"></i></th>
                        <th onclick="sortTable(1)">Agent <i class="fa-solid fa-sort"></i></th>
                        <th onclick="sortTable(2)">Agent Tel <i class="fa-solid fa-sort"></i></th>
                        <th onclick="sortTable(3)">Amount <i class="fa-solid fa-sort"></i></th>
                        <th onclick="sortTable(4)">Fee <i class="fa-solid fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in withdrawals %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.agent }}</td>
                        <td>{{ item.agent_tel }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.fee }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
{% endblock%}